# Ignore node_modules directory as it will be installed inside the container
node_modules

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore git files
.git
.gitignore

# Ignore Dockerfile and docker-compose files (if they are in the project)
Dockerfile
docker-compose.*
Dockerfile.*

# Ignore editor-specific files
*.swp
*~ 
.project
.idea/
.vscode/
*.sublime-workspace
README.md